<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="img/css/bootstrap.min.css" rel="stylesheet">
    <link href="img/css/index.css" rel="stylesheet">
    <link href="img/css/base.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="js/angular-animate.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <style type="text/css">
        .expander {
            border: 1px solid black;
            width: 250px;
        }

        .expander>.title {
            background-color: black;
            color: white;
            padding: .1em .3em;
            cursor: pointer;
        }

        .expander>.body {
            padding: .1em .3em;
        }
    </style>
</head>
<body ng-app='expanderModule'>
<div ng-controller="ddd">
    <input id="dd" type="text" data="1" class="form-control"
           ng-click="showMenu($event)" ng-model="dept.name" readonly>

    <div class="treeview-back"
         style="display:none; position: absolute; z-index: 10000; max-height: 230px;background-color: #ffffff;">
        <ul id="deptTree" class="ztree" style="margin-top:0; width:260px;"></ul>
    </div>
</div>
<!--<div ng-controller='SomeController'>
    <expander class='expander' expander-title='title'>
        {{text}}
    </expander>
</div>-->

<script>
    var expanderModule=angular.module('expanderModule', []);
    expanderModule.controller("ddd",function ($scope) {
        $scope.showMenu = function (event) {
            console.log($(event.target).attr('data'));
            //$(event.target).next().css({left:15+'px', top:34+'px',display: "block"}).slideDown("fast");
        }
    })
   /* var expanderModule=angular.module('expanderModule', []);
    expanderModule.directive('expander', function() {
        return {
            restrict : 'EA',
            replace : true,
            transclude : true,
            scope : {
                title : '=expanderTitle'
            },
            template : '<div>'
            + '<div class="title" ng-click="toggle()">{{title}}</div>'
            + '<div class="body" ng-show="showMe" ng-transclude></div>'
            + '</div>',
            link : function(scope, element, attrs) {
                scope.showMe = false;
                scope.toggle = function toggle() {
                    scope.showMe = !scope.showMe;
                }
            }
        }
    });
    expanderModule.controller('SomeController',function($scope) {
        $scope.title = '点击展开';
        $scope.text = '这里是内部的内容。';
    });*/
</script>
</body>
</html>
