<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/base.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="js/angular-animate.js"></script>
    <!--可编辑表格注入-->
    <link rel="stylesheet" href="http://ui-grid.info/release/ui-grid.css" type="text/css">
    <script type="text/javascript" src="js/ui-grid-angular/csv.js"></script>
    <script type="text/javascript" src="js/ui-grid-angular/pdfmake.js"></script>
    <script type="text/javascript" src="js/ui-grid-angular/vfs_fonts.js"></script>
    <script type="text/javascript" src="js/ui-grid-angular/lodash.min.js"></script>
    <script type="text/javascript" src="js/ui-grid-angular/jszip.min.js"></script>
    <script type="text/javascript" src="js/ui-grid-angular/excel-builder.dist.js"></script>
    <script type="text/javascript" src="js/ui-grid-angular/ui-grid.js"></script>
    <!--可编辑表格注入end-->
    <script type="text/javascript" src="js/index.js" language="javascript"></script>
</head>
<body ng-app="routerApp">
<!--下面是顶部导航栏的代码-->
<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand"><img src="images/newHDS.jpg" alt=""/></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-controller="dh_tab">
            <ul class="submenu-nav-box dh_tab">
                <li ng-repeat="data in shezhi" ng-class="{'{{data.name}}': 'dh_right', 'b': 'inactive'}[isActive]">
                    <a class="" ng-mouseenter="showtimes = true" ng-mouseleave="showtimes = false" ng-class="{'on':showtimes}"><img src="{{data.img}}" alt="" width="30" style="margin-right:5px;"/>{{data.name}}</a>
                    <ul class="dropdown-menu dh_tab_to" ng-class="{'on':showtimes}" ng-mouseenter="showtimes = true" ng-mouseleave="showtimes = false">
                        <li class="dropdown-header" ng-repeat="datatwo in data.child" data-title="{{datatwo.name}}">
                            <div style="color: #ffffff; font-size: 16px; font-weight: bold;">{{datatwo.name}}</div>
                            <a ng-repeat="datatree in datatwo.child" ui-sref="{{datatree.url}}"
                               ng-click="dh_show(datatree.name,datatree.url,$event)">
                                {{datatree.name}}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--自适应布局-->
<div class="container-fluid">
    <div class="row">
        <div ui-view></div>
    </div>
</div>
</body>
</html>