<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .login{ width:350px; height:500px; margin: 0 auto; background-color: #2aabd2;}
        .login_head{ width: 100%; text-align: center;background-color: #2D528D;}
        .login_head img{ margin-top: 10px; margin-bottom: 10px;}
        .login h3{ width: 100%; text-align: center; font-size:16px;}
    </style>
</head>
<body>
        <div class="login">
            <div class="login_head"><img src="images/newHDS.jpg"></div>
            <h3>用户登录</h3>
            <form ng-click="loginBtn()">
                <div class="form-group">
                    <div class="form-group">
                        <label class="control-label">输入用户名</label>
                        <input type="text" placeholder="请输入用户名" name="name" required="" ng-model="login.name" class="form-control ng-not-empty ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched">
                        <span ng-show="loginForm.name.$dirty &amp;&amp; loginForm.name.$error.required" class="text-danger ng-hide">用户名必填</span>
                    </div>
                </div>
            </form>
        </div>
</body>
</html>