<div ng-controller="sss">
    <ul class="ul-li-objust">
        <li><input ng-model="objects" class="form-control"></li>
        <li><input ng-model="objects" class="form-control"></li>
        <li><input ng-model="objects" class="form-control"></li>
        <li><input ng-model="objects" class="form-control"></li>
        <li><input ng-model="objects" class="form-control"></li>
        {{objects}}
    </ul>
    <button type="submit" class="btn btn-primary updata1-r on" ng-click="anniu()">按钮</button>
</div>