<div ng-controller="form">
    <ul class="ul-li-objust">
        <li><input ng-model="objects2.a" class="form-control"></li>
        <li><input ng-model="objects2.b" class="form-control"></li>
        <li><input ng-model="objects2.c" class="form-control"></li>
        <li><input ng-model="objects2.d" class="form-control"></li>
        <li><input ng-model="objects2.e" class="form-control"></li>
        {{objects2.a}}
    </ul>
    <button type="submit" class="btn btn-primary updata1-r on" ng-click="anniu()">按钮</button>
</div>