<div ng-controller="form">
    <ul class="ul-li-objust">
        <li><input ng-model="objects2.title" class="form-control"></li>
        <li><input ng-model="objects2.name" class="form-control"></li>
        <li><input ng-model="objects2.work" class="form-control"></li>
        <li><input ng-model="objects2.youk" class="form-control"></li>
        <li><input ng-model="objects2.youk" class="form-control"></li>
        {{objects2.name}}
    </ul>
    <button type="submit" class="btn btn-primary updata1-r on" ng-click="anniu()">按钮</button>
</div>