
<!--右侧管理控制台-->
<div class="row" style="margin: 0 1%; margin-top:3px;">
    <div ng-controller="dh_name">
        <ul class="row" style=" margin: 0; padding: 0; margin-bottom: 10px; margin-top: 10px; border-bottom: 1px solid #000000">
            <li style="margin-right: 10px; padding: 0; background-color: #6F8BB8; color: #ffffff; text-align: center; line-height: 50px; height: 50px;" class="col-xs-1 col-md-1" ng-repeat="list in names" ui-sref="{{list.url}}">{{list.name}}<div style="background-color: #2aabd2; float: right;" data="{{$index}}" ng-click="dh_close($event)"><!--<i class="ace-icon glyphicon glyphicon-remove"></i>--><img src="images/clear.png"> </div></li>
        </ul>
    </div>
    <div ui-view></div>
</div>