<div >
    <button class="btn btn-primary" ng-click="getJson()">获取成功样式</button>
    <button class="btn btn-info" ng-click="getJson1()">获取信息样式</button>
    <button class="btn btn-info" ng-click="getJson2()">获取等待样式</button>
    <button class="btn btn-warning" ng-click="getJson3()">获取警告样式</button>
    <button class="btn btn-danger" ng-click="getJson4()">获取错误样式</button>
    <div class="btn btn-default J_menuItem" data-title="表格" href="templ/dataTable.html" data-index="1">GO Table</div>
    <toaster-container toaster-options="{'position-class': 'toast-bottom-right', 'close-button':true}"></toaster-container>
    <message-center></message-center>
</div>